html,body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
body{ background:rgb(20,20,20); }
#root{
	width:100%;
	height:100%;
}

/*Legend*/
.legend{ background:rgb(20,20,20); }
.legend text{
	fill:#ddd;
	font-family:'Roboto Condensed', sans-serif;
}
.legend .axis-y .tick line{
	stroke:white;
	stroke-dasharray: 2px 2px;
}
.legend .axis-y .domain{ stroke:none; }
.legend .brush .selection{
	stroke:none;
	fill:rgba(255,255,0,.4);
}