html,body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
body{
	background:black;
}
#root{
	width:100%;
	height:100%;
}

/*Legend*/
.legend .axis-y .tick line{
	stroke:white;
}
.legend .axis-y .tick text{fill:white;}