html,body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
h1,h2,h3,h4,p,div,a{
	margin:0;
	padding:0;
}
body{ background:black; }
#root{
	width:100%;
	height:100%;
}

/*Tooltip*/
.tooltip{
	font-family:'Roboto Condensed', sans-serif;
	color:rgb(20,20,20);
}
	.tooltip .entry{ margin:5px 0; }
	.tooltip .entry .key{
		font-size:.8em;
		display:block;
	}

/*Legend*/
.legend{ background:rgb(20,20,20); }
.legend text{
	fill:#666;
	font-family:'Roboto Condensed', sans-serif;
}
.legend .axis-y .tick line{
	stroke:#666;
	stroke-dasharray: 2px 2px;
}
.legend .axis-y .domain{ stroke:none; }
.legend .brush .selection{
	stroke:none;
	fill:rgba(255,255,255,.4);
}